<ul>
    <li><a href="#" class="btn btn-danger">Main</a></li>
    <li><a href="#" class="btn btn-danger">Map</a></li>
    <li><a href="#" class="btn btn-danger">Info</a></li>
    <li><a href="#" class="btn btn-danger">Report to developers</a></li>
</ul>