{% extends "base.html" %}

{% block header %}Header #2: custom{% endblock %}

{% block title %}Questins: {{ latest_question_list.count }}{% endblock %}

{% block content %}
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'main:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}

{% block footer %}footer #2: custom{% endblock %}