<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Main page{% endblock %}</title>
    {% include "_partials/stylesheet-core.html" %}
    {% block stylesheet_custom %}{% endblock %}
</head>
<body>
<div class="container">
    <header>{% block header %}{% endblock %}</header>
    <nav>{% block nav %}{% include "_partials/main_nav.html" %}{% endblock %}</nav>
    <section>{% block content %}{% endblock %}</section>
    <footer>{% block footer %}{% endblock %}</footer>
</div>

{% include "_partials/javascript-core.html" %}
{% block javascript_custom %}
    <script type="text/javascript">
        $(document).ready(function () {
            console.log('initialize');
        });
    </script>
{% endblock %}
</body>
</html>